@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700;800&display=swap');
* {
    margin: 0;
    padding: 0;
    font-family: 'Nunito', sans-serif;
    font-weight: 800;
}

body {
    background-color: #282d36;
}

main {
    height: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-direction: column;
}

header {
    width: 300px;
    margin: 5px;
    padding-bottom: 8px 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

header img {
    width: 75px;
    height: 75px;
    border-radius: 50%;
    border: 3px solid #5c5f64;
}

header #p-nome {
    margin-top: 10px;
    font-size: 16px;
    font-weight: 400;
    color: #c9d1d3;
}

header #p-cargo {
    margin-top: 5px;
    font-size: 12px;
    font-weight: 300;
    color: #bdbebe;
}

section {
    width: 300px;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-direction: column;
    margin: 5px;
}

section a {
    width: 270px;
    height: 55px;
    margin: 8px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    font-weight: 600;
    text-align: center;
    text-decoration: none;
    color: #fff;
}

a i {
    font-size: 20px;
    margin: 15px;
    color: #fff;
}

#btn-site{
    background-color: #0d55bb;
}

#btn-site:hover{
    background-color: #0c4799;
}

#btn-email {
    background-color: #ec574c;
}

#btn-email:hover {
    background-color: rgb(206, 71, 62);
}

#btn-linkedin {
    background-color: #0a81c2;
}

#btn-linkedin:hover {
    background-color: #0f6c9e;
}

#btn-github {
    background-color: #111111;
}

#btn-github:hover {
    background-color: #1a1a1a;
}

#btn-codepen {
    background-color: #494d57;
}

#btn-codepen:hover {
    background-color: #373b46;
}

#btn-instagram {
    background: rgb(228, 67, 121);
    background: linear-gradient(225deg, rgb(228, 67, 121) 28%, rgb(251, 138, 62) 100%);
}

#btn-instagram:hover {
    background: rgb(236, 37, 103);
    background: linear-gradient(225deg, rgb(236, 47, 110) 28%, rgb(251, 129, 48) 100%);
}

#btn-whatsapp {
    background-color: #21b63f
}

#btn-whatsapp:hover {
    background-color: #179e32
}

/* Barra de rolagem */
::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}
::-webkit-scrollbar-track {
    background-color: #282d36;
}
::-webkit-scrollbar-thumb {
    background-color: #cecece;
    border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
    background-color: #979ca8;
}